/* Default styles */

body {
  background-color: #222831 !important;
}
html {
  scroll-behavior: smooth;
}

/* Navbar */
.container {
    border-radius: 5px;
    background-color: #18181b !important;
    padding: 20px;
    
}



/* Shadow */
.shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #18181b;
}

/* Header */
header {
  text-align: center;
  font-size: 150px;
  background-color: #18181b;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 5rem;
  background-image: linear-gradient(90deg, #14b8a6 15%, #e11d48 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
}

/*Titel div */

.Titeldiv {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: #f95959;
    height: 750px;
    padding: 20px;
    color: white;
    max-width: 100%;
    
} 

.Titeldiv h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin: 0;
    margin-left: 30px;
    
}


.Titeldiv p {
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    margin-left: 30px;
}

.Titeldiv img {
    width: 518px;
    height: 300px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
}
.filmdiv {
  background-color: #18181b;
    width: 100%;
}

.h2, h2 {
    font-size: 5rem;
    background-image: linear-gradient(90deg, #14b8a6 15%, #e11d48 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
    text-align: center;
    margin-bottom: -120px;
}




/* Carousel */
.carousel-item img {
  height: 400px;
  object-fit: cover;
}

.carousel-caption h5  {
  font-size: 1.5rem;
  font-weight: bold;
}
.carousel-caption p {
font-size: 0.7rem; 
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  width: 100%;
  left: 0%;
  right: 0%;
}


/* Video container */
.carousel-inner {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin-top: 150px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    height: 6%;
    width: 100px;
}





/* Movie info section */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.Contact {
  background-color: #f95959;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.h3, h3 {
  font-size: 1.75rem;
  text-align: center;
}

/* Footer */
footer {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 40px 0;
 width: 100%;
  margin: 0 auto;
}

footer p {
  font-size: 1rem;
}

.content {
    max-width: 1600px;
  margin: auto;
}

@media (max-width: 768px) {
  header {
    height: 300px;
  }
  
  header h1 {
    font-size: 3rem;
  }
    .Titeldiv {
    flex-direction: column;
    height: auto;
  }
  
  .Titeldiv h1 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  
  .Titeldiv img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

